* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ff00f2;
  text-align: center;
}

img {
  border: 5px solid #ffffff;
}

.media-page {
  padding: 40px 20px;
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

.image-grid {
  width: 500px; 
  gap: 30px;
  margin: 0 auto;
}

figcaption {  
  color: white;
  font-size: 50px
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
  user-select: none;
  transform: translateY(-100%);
  color: #1b0000;
}

.arrow.prev {
  left: 20px;
}