* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #EB5097;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
  position: relative;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: #e2488e
  border-radius 10px;
}

.text-box {
  margin: 20px 0;
  font-size: 18px;
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
  user-select: none;
  transform: translateY(-100%);
  color: #1b0000;
}

.arrow.next {
  right: 30px;
}

.arrow.prev {
  left: 30px;
}







