body {
    font-family: Arial, sans-serif;
    background: #F3E5AB;
    margin: 0;
    padding: 20px;
}

.container {
    background: #EAA221;
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #2CAE66);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #2CAE66; 
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    color: #EAA221
}


#result {
    margin-top: 20px;
    font-size: 18px;
    color: #2CAE66;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
