body {
    font-family: Arial, sans-serif;
    background: #d8d8d8;
    margin: 0;
    padding: 20px;
}

.container {
    background: #273F4F;
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #EFEEEA;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color:azure
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #EFEEEA; 
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    color: #273F4F
}


#result {
    margin-top: 20px;
    font-size: 18px;
    color: #FE7743;
}

